vending_machine.suo
vending_machine.sln
vending_machine.opensdf
ipch/vending_machine-2c027e85/vending_machine-ae39f32b.ipch
Debug/vending_machine.pdb
Debug/vending_machine.ilk
vending_machine.sdf
